:root {
  --color-primary: #917758;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Poppins', sans-serif;
}

/*******************
*       HOME
*******************/

.home {
  background-size: cover;
  background-image: url(../img/bg-home.jpg);
  height: 100vh;
}

.home .header {
  padding: 30px 0;
}

.home .header .nav {
  display: flex;
  justify-content: center;
}

.home .header .nav ul {
  display: flex;
  list-style: none;
}

.home .header .nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.home .header .nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding: 20px;
}

.home .header .nav ul li a:hover {
  border-bottom: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.home .header .nav ul li .logo {
  margin: 0 30px;
}

/*******************
*   HOME - BANNER
*******************/
.home .banner {
  color: #fff;
  text-align: center;
}

.home .banner span {
  display: block;
}

/*******************
*       HOME
*******************/

/*******************
*       HOME
*******************/

/*******************
*       HOME
*******************/

/*******************
*       HOME
*******************/

/*******************
*       HOME
*******************/